name: Java CI with Gradle

on:
  pull_request:

concurrency:
  cancel-in-progress: true
  group: ci-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Run build
        run: gradle build
